<div class="discount­code­field" class="item">
  <input class="trigger" id="item-three" type="checkbox" name="items" />
  <label class="accordion-label" for="item-three"><span class="item-heading">{{ 'cart.general.cart_discount' | t: shop_name: shop.name }}</span></label>
  <div class="item-content">
    <input autocomplete="off" type="text" name="discount" placeholder="Enter Coupon Code"/>
  </div>
</div>
