<section class="shop-notification {{ settings.notification_position }}">
  <div class="notification-wrapper">
    {% if settings.notification_text != blank %}
      {{ settings.notification_text }}
    {% endif %}
  </div>
</section>
