<div data-section-onboard>
  <div class="section-title row">
  {% render "section-headings", type: 'Featured Product' %}
  </div>
  <div class="row">
    <div class="featured-product-gallery desktop-6 tablet-3 mobile-3">
      <div class="onboard">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    </div>

    <div class="featured-product-form desktop-6 tablet-3 mobile-3">
        {% if section.settings.vendor %}
          <h4>Product Vendor</h4>
        {% endif %}
        <h2>
          <a href="#">
            Your product's name
          </a>
        </h2>
        <p id="product-price">
          <span class="product-price" itemprop="price">
            9.99</span>&nbsp;<span class="was">13.99
          </span>
        </p>
        <br/>
        <div class="product-add">
          <input type="submit" name="button" class="add" value="Add to Cart" />
        </div>

      <div class="featured-product-description">
        <div class="rte">
          This area is used to describe your product’s details. Tell customers about the look, feel, and style of your product. Add details on color, materials used, sizing, and where it was made.
        </div>
      </div>

    </div>
  </div>
</div>
