{
   "plugins": ["babel-plugin-macros", "babel-plugin-styled-components"],
   "presets": [
      [
         "@babel/preset-env",
         {
            "useBuiltIns": "usage",
            "corejs": 3
         }
      ],
      "@babel/preset-react"
   ]
}