<div id="react-featured-in">
  <script type="application/json">
    {
      "settings": {{ section.settings | json}}
    }
  </script>
</div>


{% schema %}
  {
    "name": "Featured In",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image_1",
        "label": "Logo Image 1"
      },
      {
        "type": "richtext",
        "id": "quote_1",
        "label": "Quote 1"
      },
      {
        "type": "text",
        "id": "author_1",
        "label": "Author 1"
      },
      {
        "type": "url",
        "id": "link_1",
        "label": "Article 1"
      },
      {
        "type": "image_picker",
        "id": "logo_image_2",
        "label": "Logo Image 2"
      },
      {
        "type": "richtext",
        "id": "quote_2",
        "label": "Quote 2"
      },
      {
        "type": "text",
        "id": "author_2",
        "label": "Autor 2"
      },
      {
        "type": "url",
        "id": "link_2",
        "label": "Link 2"
      },
      {
        "type": "image_picker",
        "id": "logo_image_3",
        "label": "Logo Image 3"
      },
      {
        "type": "richtext",
        "id": "quote_3",
        "label": "Quote 3"
      },
      {
        "type": "text",
        "id": "author_3",
        "label": "Author 3"
      },
      {
        "type": "url",
        "id": "link_3",
        "label": "Article 3"
      },
      {
        "type": "image_picker",
        "id": "logo_image_4",
        "label": "Logo Image 4"
      },
      {
        "type": "richtext",
        "id": "quote_4",
        "label": "Quote 4"
      },
      {
        "type": "text",
        "id": "author_4",
        "label": "Author 4"
      },
      {
        "type": "url",
        "id": "link_4",
        "label": "Article 4"
      }
    ]
  }
{% endschema %}