<div id="react-value-prop-section">
  <script type="application/json">
    {
      "valueProps": [
        {
          "text": "Free Shipping On All Orders"
        },
        {
          "text": "Comfortable Support"
        },
        {
          "text": "30 Day Return Guarantee"
        },
        {
          "text": "Interchangeable Covers"
        }
      ]
    }
  </script>
</div>
{% schema %}
{
  "name": "Value Prop",
  "presets": [
    {
      "name": "Value Prop",
      "category": "React Components"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}