<div id="react-promo-video-section">
  <script type="application/json">
    {
      "assetUrls": {
        "promoVideoImage": "{{ 'promo-video-image.png' | asset_url }}",
        "arrowGif": "{{ 'Arrow.gif' | asset_url }}",
        "playButtonImage": "{{ 'play-button.png' | asset_url }}"
      }
    }
  </script>
</div>
{% schema %}
{
  "name": "Promo Video",
  "presets": [
    {
      "name": "Promo Video",
      "category": "React Components"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}