<div class="index-sections">
  {{ content_for_index }}
</div>

<div id="homepage-reviews-carousel">
  <h1 class="text-center">Customers love our washable dining and lounge chairs!</h1>
  <a class="sg-underline-link" href="/pages/reviews">Read All Reviews</a>
  <div class="review-content-container">
    <div class="review-content">
      <div class="review-stars"></div>
      <p>"I bought this chair because of the washable slipcover and price, but we love the comfort of it! It’s big enough to curl up in and feels so cozy… It has a texture that causes it to feel very high end. You would never guess that this chair is not upholstered!"</p>
      <p class="review-author">Jamie M., Verified Buyer</p>
    </div>
    <div class="review-content">
      <div class="review-stars"></div>
      <p>“I was initially intrigued by the idea of washable cover because we have 4 dogs and when I saw the prints available, I was hooked. When they came in they were easy to assemble and much more comfortable than I anticipated. I just love them!!”</p>
      <p class="review-author">Juley H., Verified Buyer</p>
    </div>
    <div class="review-content">
      <div class="review-stars"></div>
      <p>"I love my chair, and so does my son! It's soft and comfortable, stylish and resilient, and the color is very versatile. It's a really great value for the price, particularly compared to other name brands that don't offer the washable feature."</p>
      <p class="review-author">Brianna E., Verified Buyer</p>
    </div>
  </div>
  <div><a id="homepage-review-button" class="button" href="/collections/all-chairs">Shop Washable Chairs</a></div>
</div>

<!-- <div class="yotpo yotpo-reviews-carousel"
 data-header-customisation-enabled="1"
 data-header-customisation-color="#142634"
 data-header-customisation-font-size="18"
 data-header-customisation-text="Customer Reviews"
 data-header-customisation-alignment="center"
 data-background-color="transparent"
 data-mode="top_rated"
 data-type="product"
 data-count="4"
 data-show-navigation="1"
 data-testimonials-page-enabled="1"
 data-testimonials-page-text="Read all reviews"
 data-testimonials-page-link="https://levityhome.com/pages/reviews">&nbsp;</div> -->
